body {
  background-color: blanchedalmond;
}
.container {
  width: 400px;
  height: 600px;
  background-color: white;
}
.card {
  background-color: rgba(255, 240, 191, 0.605);
  /* display: flex; */
  width: 300px;
  flex-direction: column;
  align-items: center;
  border-radius: 80px;
}

.img {
  object-fit: cover;

  width: 100%;
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
}
.card button {
  background-color: rgb(251, 217, 106);
  border-radius: 20px;
  border: none;
  color: rgb(167, 130, 9);
}
.card h3,
p,
button,
span {
  color: rgb(118, 60, 29);
  margin: 0;
}
button {
  display: block;
  margin-inline: auto;
}
.card button {
  padding: 15px;
  font-size: medium;
}
span {
  font-size: x-large;
}
p {
  font-size: large;
}
.card-body {
  padding: 20px;
  padding-top: 50px;
}
.card-content {
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
}
